@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "DM Sans", sans-serif;
}
:root{
    --primary-color: #030712;
    --secondary-color: #A87A2A;
    --color-white: #FFFFFF;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: var(--primary-color);
}
.nav_items{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav_items a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 90%;
    padding: 10px 0px;
    align-items: center;
}
.logo img{
    height: 40px;
    width: fit-content;
}
.consultation_button{
    display: flex;
    gap: 20px;
    align-items: center;
}
.consultation_button .button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--color-white);
    position: relative;
    overflow: clip;
}
.banner_image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.consultation_button div svg{
    color: white;
}
.consultation_button .button .botton_text{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.consultation_button .button .hov_button{
    background-color: var(--secondary-color);
    color: var(--color-white);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    contain: "";
    transition: all 0.3s ease-in-out;
}
.consultation_button .button:hover{
    color: var(--secondary-color);
    background-color: var(--color-white);
}
.consultation_button .button:hover .hov_button{
    width: 100%
}
@media(max-width: 480px){
    .navigation{     
    padding: 10px 0px;

    }
    .logo img{
        height: 30px;
    }
    .nav_items{
        display: none;
    }
    .consultation_button{
        display: none;  
    }
    .menu{
        display:block;
        color:var(--color-white);
        cursor: pointer;
    }
}